* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    color: #222222;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}



.superinfo-bg {
    width: 100%;
    background-color: aqua;
    color: white;
    display: flex;
    justify-content: center;
}

.superinfo {
    display: flex;
    width: 70%;
    justify-content: space-between;
    font-size: 20px;
    padding: 5px 0 5px 0;
}